* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.overall {}

h1,
h2,
h3,
h4,
h5 {
    font-family: Exo, sans-serif;
}

:root {
    --colorpink: #d66774;
}

.serbar {
    display: none !important;
}

#ser {
    display: none;
}

.servicevisible:hover .opt {
    display: unset !important;
    transition: all 3s;
    transition-timing-function: ease-in-out;
}

.opt {
    position: fixed;
    top: 60px;
    right: 320px;
    display: flex;
    padding-top: 0px;
    z-index: -1;
    background-color: rgba(255, 228, 196, 0.763);
    border: 2px solid black;
    display: none;
    transition: all 2s;
    transition-timing-function: ease-in-out;
}

.personal {
    padding: 10px 5px;
    border: 2px solid black;
}

.wedding {
    padding: 10px 5px;
    border: 2px solid black;
}

.top {
    width: 100%;
    height: 60px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* top:4px; */
    z-index: 999;
}

.head {
    padding-top: 10px;
    padding-left: 10px;
    font-family: freight-big-pro;
}

.headred {
    color: red;
}

.logoname {
    display: flex;
    padding-left: 30px;
}

.name {
    width: 80px;
    height: 50px;
}

.lists {
    display: flex;
    gap: 30px;
    font-size: 30px;
    padding-right: 30px;
    list-style-type: none;
    transition: all 1s;
}

.home {
    padding: 10px;
    border: 2px solid transparent;
}

.home:hover {
    /* background-color: black;
    color: white;
    box-shadow: 1px 2px 5px violet; */
    /* border: 2px solid black; */
    transition: all 1s;
    transition-timing-function: ease-out;
    scale: 0.88;
}

a {
    text-decoration: none;
    color: black
}

.bar {
    padding: 10px 15px 10px 15px;
    border: 2px solid transparent;
    font-size: 30px;
}

input:checked~.lists {
    color: white;
    bottom: 25px;
}

#bars {
    display: none;
}

.bar {
    display: none !important;
}

.logoimg {
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.91);
    position: relative;
}

.logo {
    width: 100%;
    height: 400px;
    opacity: 0.45;
    object-fit: cover;

}

.aboutus {
    color: white;
    position: absolute;
    font-size: 50px;
    top: 100px;
    transition: 3s;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.div1 {
    width: 100%;
    display: flex;
    padding-top: 30px;
    gap: 80px;
    padding-left: 40px;
}

.div1-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.grassimg {
    width: 90%;
    height: 500px;
    filter: blur(5px);
    object-fit: cover;
    border-radius: 10px;
}

.grassimg2 {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0px;
    bottom: 80px;
    border-radius: 10px;
    object-fit: cover;
    animation: grassimg2 linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;
}

@keyframes grassimg2 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}


.div1-right {
    width: 60%;
    padding-left: 40px;
}

.div1-right p span {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, black, black);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}

.div1-right .div1-line4 span {
    animation-range-start: cover vh;
    animation-range-end: cover 30vh;
}

.div1-right .div1-line5 span {
    animation-range-start: cover 10vh;
    animation-range-end: cover 40vh;
}

.div1-right .div1-line6 span {
    animation-range-start: cover 20vh;
    animation-range-end: cover 40vh;
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}

.p-about {
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

.div1-head {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20PX;
    font-size: 40px;
    background: linear-gradient(to right, rgb(3, 76, 112), #e6d708 30%, #4d0533);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: head 4s linear infinite;
}

@keyframes head {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 70%;
    }
}

.div1-head-span1 {
    color: orange;
    letter-spacing: 5px;
}

.div1-head-span2 {
    color: red;
}

.div1-line3 {
    font-size: 20px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.div1-line4 {
    font-size: 25px;
    width: 90%;
    color: rgb(85, 84, 84);
    padding-bottom: 20px;
}

.div1-line5 {
    font-size: 25px;
    width: 90%;
    color: rgb(85, 84, 84);
    padding-bottom: 20px;
}

.div1-line6 {
    font-size: 25px;
    width: 90%;
    color: rgb(85, 84, 84);
    padding-bottom: 20px;
}

/* div2 overall div */
.div2 {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: beige;
}

/* div2 box div */
.div2-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    z-index: 1;
}

/* div2-card div */
.div2-card {
    position: relative;
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 5px;
}

/* div2-card -before -after */
.div2-card:before,
.div2-card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: red;
    transition: 0.5s;
    z-index: -1;
}

/* div2 before hover */

.div2-card:hover:before {
    transform: rotate(20deg);
}

/* div2 after hover */
.div2-card:hover:after {
    transform: rotate(10deg);
}

/* div2 imgbx */
.div2-card .div2-imgbx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: #222;
    transition: 0.5s;
    z-index: 1;
}

/* div2 imgbx hover */
.div2-card:hover .div2-imgbx {
    bottom: 80px;
}

/* div2 imgbx la img */
.div2-card .div2-imgbx img {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: .8;
    opacity: 0;
    animation: imgblur linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes imgblur {
    to {
        scale: 1;
        opacity: 1;
    }
}

/* div2 details */
.div2-card .div2-details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.div2-card .div2-details h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.div2-card .div2-details h2 span {
    font-weight: 500;
    font-size: 16px;
    color: red;
    display: block;
    padding-top: 5px;
}

.div2>h1 {
    padding-bottom: 50px;
    font-family: freight-big-pro;
    letter-spacing: 2px;

}

.div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: beige;
}

.div3 span {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, black, black);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}

.div3 span {
    animation-range-start: cover 2vh;
    animation-range-end: cover 30vh;
}

.div3-head {
    font-size: 50px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: div3-head;
    animation-duration: 1s;
}

@keyframes div3-head {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.div3-outerbox {
    width: 70%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    /* gap:60px; */
}

.div3-boxs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div3-boxs-p {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: red;
}

.div3-boxs-p1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
}

.div3-box1ani {
    animation: div3-box1 linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;
}

@keyframes div3-box1 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.div3-box2 {
    animation: div5-box2 linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 30vh;
}

@keyframes div5-box2 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.div3-box3 {
    animation: div3-box3 linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;
}

@keyframes div3-box3 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.div4 {
    /* width: 100%;
    min-height: 500px; */
    background: url(./div4-blank.png);
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    position: relative;
}

.div4 .div4-line1 span {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, #d66774, #d66774);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}

.div4 .div4-line1 span {
    animation-range-start: cover 2vh;
    animation-range-end: cover 30vh;
}

.div4 .div4-line2 span {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, black, black);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}

.div4 .div4-line2 span {
    animation-range-start: cover 2vh;
    animation-range-end: cover 30vh;
}

.div4-ani1 {
    position: absolute;
    left: 0px;
}

.div4-ani2 {
    position: absolute;
    bottom: 60px;
    right: 0px;
}

.div4-ani3 {
    position: absolute;
    bottom: -10px;
    left: 80px;
}

.div4-line1 {
    display: block;
    font-size: 16px;
    color: #d66774;
    font-weight: 700;
    font-family: Exo, sans-serif;
    margin-bottom: 15px;
}

.div4-line2 {
    font-weight: 600;
    line-height: 1.5;
    color: #232e36;
    font-family: Exo, sans-serif;
}

.div4-boxrow1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    gap: 80px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.div4-box1-p span {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, black, black);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}

.div4-box1-p span {
    animation-range-start: cover 2vh;
    animation-range-end: cover 30vh;
}

.div4-smallbox {
    /* position: relative; */
    left: -25px;
    top: 0;
    height: 55px;
    width: 55px;
    background-color: #fff1cc;
    content: "";
    border-radius: 50%;
}

.div4-box1 {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    background: white;
    padding: 60px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div4-box1-p {
    padding-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}

.div4-img1 {
    position: absolute;
    right: 100px;
}

.div4-boxrow2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x)); */
    gap: 60px;
    padding-bottom: 50px;
}

.div4-box1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.10;
    cursor: pointer;
}

.div5 {
    padding-bottom: 140px;
}

.div5-img1back {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
    position: absolute;
}

.div5-innerdiv {
    width: 35%;
    background-color: white;
    padding: 45px 50px 60px;
    position: relative;
    border-radius: 5px;
    top: 70px;
    left: 100px;
}


.div5-innerdiv:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 100px orange;
    scale: 1.10;
}

.div5-line1 {
    font-family: Archivo, sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

.div5-line2 {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.div5-btn {
    background-color: #d66774;
    padding: 10px 20px 10px 20px;
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.div6 {
    display: flex;
    flex-direction: row;
    position: relative;
}

.div6-left {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div6right {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    flex-flow: column;
    animation: div6-right linear forwards;
    animation-timeline: view();
    animation-range-start: 10vh;
    animation-range-end: 50vh;
}

@keyframes div6-right {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}


.form-group {
    position: relative;
    margin: 12px 0;
}

.form-group input {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: #acacac solid 2px;
    background-color: transparent;
    color: #eee;
    transition: 0.15s all ease;
}

.form-group input:focus {
    border-color: #eee;
}

.form-group input::placeholder {
    color: transparent;
}

.form-group .form-label {
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 18px;
    padding: 0 10px;
    color: #acacac;
    pointer-events: none;
    transition: 0.15s all ease;
}

.form-group input:focus+.form-label,
.form-group input:not( :placeholder-shown)+.form-label {
    transform: translate(5px, -22px);
    background-color: black;
    font-size: 14px;
    color: #eee;
}

.div6-row1 {
    display: flex;
    gap: 20px
}

.div6-row2 {
    display: flex;
    gap: 20px
}

.div6-row3 {
    display: flex;
    gap: 20px
}

.div6-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: Exo, sans-serif;
}

.div6backvideo {
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: absolute;
}

.div6-textarea-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.div6-textarea-label {
    color: #acacac;
    font-size: 18px;
    padding-top: 10px;
}

.div6-textarea {
    width: 500px;
    height: 100px;
    /* padding: 50px 150px 50px 150px; */
    background-color: transparent;
    border: 2px solid #eee;
    background-color: gray;
    opacity: 0.6;
    font-size: 20px;
    color: gold;
}

.div6-btn {
    /* width: 500px; */
    letter-spacing: 3px;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: rgb(191, 151, 9);
    font-size: 18px;
    color: white;
    border-radius: 7px;
}

.div6-btn:hover {
    scale: 0.99;
}

.div6-innerdiv {
    width: 80%;
    background-color: white;
    padding: 45px 50px 60px;
    /* position: relative; */
    border-radius: 5px;
    /* top:-400px; */
    animation: div4-innerdiv linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;
}

@keyframes div4-innerdiv {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.02);
    }
}

.div6-innerdiv-head {
    text-shadow: 3px 5px gold;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.div6-innerdiv-p {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    color: rgb(191, 151, 9);
}

.div6-innerdiv-head-span {
    color: gold;
    text-shadow: 2px 5px black;
}

.div6-innerdiv-head-span2 {
    color: red;
    font-size: 40px;
}

.div6-innerdiv:hover {
    scale: 0.99;
}

.div7 {
    background: url("./about\ us-black.jpg") no-repeat;
    /* object-fit: cover; */
    width: 100%;
    position: relative;
    top: 60px;
    display: flex;
    min-height: 300px;
    padding-top: 30px;
    /* padding-bottom: 30px; */
    flex-direction: column;
}

.div7-innerdiv1 {
    width: 100%;
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.div7-box1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    padding-left: 50px;
}

.div7-box1-logo {
    width: 150px;
    height: 150px;
    background: transparent;
    animation: div7-box1-logo linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;
}

@keyframes div7-box1-logo {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.02);
    }
}


.div7-box1-head {
    color: white;
    font-size: 30px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    animation: div7-box1-head linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 15vh;
}

@keyframes div7-box1-head {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.div7-box1-span {
    color: red;
    font-size: 40px;
}

.div7-box1-iconsdiv {
    display: flex;
    gap: 10px;
    animation: div7-box1-iconsdiv linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 15vh;
}

@keyframes div7-box1-iconsdiv {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}


.icons {
    font-size: 30px;
    color: red;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.insta {
    padding: 7px 9px;
}

.fb {
    color: rgb(12, 104, 179);
    padding: 7px 9px;
}

.youtube {
    padding: 7px 5px;
}

.div7-box2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: div7-box2 linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 30vh;
}

@keyframes div7-box2 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.div7-box2-head {
    color: white;
    font-size: 30px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.div7-box2-lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding-left: 18px;
    font-size: 20px;
}

.div7-box3 {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: div7-box2 linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 30vh;
}

.div7-box3-head {
    color: white;
    font-size: 30px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.div7-box3-lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding-left: 18px;
    font-size: 20px;
}

.div7-box4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: div7-box2 linear forwards;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 30vh;
}

.div7-box4-head {
    /* padding-bottom: 10px; */
    color: white;
    font-size: 30px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.div7-box4-icon-line1 {
    display: flex;
    color: white;
    gap: 10px;
    font-size: 20px;
    flex-direction: column;
}

.div7-box4-icon-line1-p {
    width: 200px;
}

li {
    list-style-type: disc;
    color: var(--colorpink);
}


.box7-p {
    color: white;
}

.box7-p:hover {
    transition: all .5s;
    scale: 0.90;
}

.red {
    color: var(--colorpink);
}

.div7-inner2 {
    width: 100%;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 1px solid gray;
}

.orange {
    color: orange;
}

a {
    text-decoration: none;
}

@media only screen and (min-width:600px) and (max-width:900px) {
    .lists {
        position: fixed;
        bottom: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 50px;
        height: 90vh;
        z-index: -1;
        background-color: #d66774;
    }

    i {
        display: unset !important;
    }

    input:checked~.lists {
        background-color: cadetblue;
        bottom: 4px;
    }

    .bar {
        display: unset !important;
        padding-right: 70px;
    }

    .div1 {
        flex-direction: column;
    }

    .div1-left {
        width: 100%;
    }

    .div1-right {
        width: 100%;
    }

    .grassimg2 {
        bottom: -80px;
    }

    .p-about {
        padding-top: 30px;
    }

    .div3-outerbox {
        flex-direction: column;
        gap: 30px;
    }

    .div3-boxs-p {
        justify-content: center;
    }

    .div5-innerdiv {
        width: 60%;
        padding-bottom: 15px;
        padding-top: 10px;
        top: 40px;
        letter-spacing: 0px;
    }

    .div6 {
        flex-direction: column;
    }

    .div6right {
        width: 100%;
        height: 300px;
        padding-top: 100px;
    }

    .div6-left {
        width: 100%;
        height: 400px;
    }

    .div6backvideo {
        height: 900px;
    }

    .div7 {
        width: 100%;
        height: 780px;
        top: 170px;
    }

    .div7-innerdiv1 {
        padding-top: 0px;
        width: 100%;
        flex-wrap: wrap;
        gap: 100px;
        padding-left: 50px;
    }

    .div7-box1 {
        width: 40%;
        padding-left: 0px;
        align-items: center;
    }

    .div7-box2 {
        width: 40%;
    }

    .div7-box3 {
        width: 40%;
    }

    .div7-box3 {
        width: 40%;
    }

    .div7-innerdiv2 {
        width: 100%;
    }

}

@media only screen and (min-width:300px) and (max-width:600px) {
    .lists {
        position: fixed;
        bottom: 100%;
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 55px;
        height: 91vh;
        z-index: -1;
        background-color:burlywood;
        padding-right: 80px;
    }

    .bar {
        display: unset !important;
        /* padding-right: 50px; */
    }

    input:checked~.lists {
        width: 100%;
        bottom: 4px;
    }

    .name {
        width: 50px;
        height: 40px;
    }

    .head {
        font-size: 25px;
    }
    .opt{
        right: 15px;
        font-size: 17px;
        top:275px;
    }
    .servicevisible{
        color: black;
    }
    .div1 {
        flex-direction: column;
    }

    .grassimg {
        height: 300px;
    }

    .grassimg2 {
        width: 200px;
        height: 230px;
        right: 20px;
        object-fit: cover;
    }

    .div1-left {
        width: 100%;
    }

    .div1-right {
        width: 100%;
        padding-left: 10px;
    }

    .div1-head {
        font-size: 25px;
    }

    .grassimg2 {
        bottom: -80px;
    }

    .p-about {
        padding-top: 30px;
    }

    .div2 h1 {
        padding-left: 20px;
    }

    .div3-outerbox {
        flex-direction: column;
        gap: 30px;
    }

    .div3-boxs-p {
        justify-content: center;
    }

    .div3-head {
        padding-left: 20px;
        text-align: center;
    }

    .div5-innerdiv {
        width: 80%;
        padding-bottom: 15px;
        padding-top: 10px;
        left: 30px;
        top: 40px;
        letter-spacing: 0px;
    }

    .div5-img1back {
        height: 600px;
    }

    .div6 {
        flex-direction: column;
        top: 30px;
    }

    .div6-innerdiv {
        width: 90%;
    }

    .div6right {
        width: 100%;
        height: 650px;
        padding-top: 100px;
    }

    .div6-left {
        width: 100%;
        height: 500px;
    }

    .div6backvideo {
        height: 1350px;
    }

    .div6-row1 {
        flex-direction: column;
        gap: 0px;
    }

    .div6-row2 {
        flex-direction: column;
        gap: 0px;
    }

    .div6-row3 {
        flex-direction: column;
        gap: 0px;
    }

    .div6-textarea-div {
        /* width:50%; */
    }

    .div6-textarea {
        width: 250px;
    }

    .div7 {
        width: 100%;
        /* height: 1300px; */
        top: 170px;
    }

    .div7-innerdiv1 {
        padding-top: 0px;
        width: 100%;
        flex-direction: column;
        gap: 50px;
        padding-left: 50px;
    }

    .div7-box1 {
        width: 40%;
        padding-left: 0px;
        align-items: center;
    }

    .div7-box2 {
        width: 100%;
    }

    .div7-box3 {
        width: 100%;
    }

    .div7-box3 {
        width: 100%;
    }

    .div7-innerdiv2 {
        width: 100%;
    }
}

@media only screen and (min-width:900px) and (max-width:1200px) {
    .lists {
        font-size: 25px;
        gap: 20px;
    }

    .grassimg2 {
        bottom: 130px;
    }

    .grassimg {
        height: 700px;
    }

    .div5-innerdiv {
        top: 30px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width:900px) and (max-width:1050px) {
    .div6 {
        justify-content: left;
        padding-left: 60px;
    }

    .div6-left {
        justify-content: left;
        width: 40%;
        padding-left: 10px;
    }

    .div6-right {
        justify-content: center;
        width: 50%;
    }

    .div6-innerdiv {
        position: relative;
        top: 50px;
    }
}